<!DOCTYPE html>
<html>
<head>
  <title>Magzine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
</head>
<body>
<ul>
  <% if user_signed_in? %>
    <li>Hi <%= current_user.email %></li>
    <li><%= link_to "Logout", destroy_user_session_url, method: :delete, :class => 'navbar-link' %></li>
  <% else %>
      <li> <%= link_to "Log in", new_user_session_path %></li>
      <li><%= link_to "Register", new_user_registration_path, :class => 'navbar-link' %></li>
  <% end %>
</ul>
<%= yield %>

</body>
</html>
